[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "SEMgraph"]
	path = SEMgraph
	url = https://github.com/fernandopalluzzi/semgraph
	shallow = true
	registered = true
